{% extends "base_1.html" %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} | log out {% endblock head_title %}
{% block content %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
  <style>
    body{
      margin: 0;
      padding: 0;
    }
    #email{
      width: 50%;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-left: 25%;
      margin-bottom: 40vh;
      margin-top: 10vh;
}
#div_id_email .requiredField{
  display: none;
}
@media screen and (max-width:480px) {
  #email{
      width: 100%;
      margin: 0;
      padding: 0;
      
      margin-bottom: 40vh;
      margin-top: 10vh;
}
}

  </style>    
    
  </head>
  <body>
    <div  id="email">
        <br>
    <p> inserisci l'email di {{ request.user }}</p>

    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}

        <p>{{ form.email|as_crispy_field }}</p>
      
        <input type="submit" class="btn btn-success" value="reset" >
    </form>
    </div>
    <div style="margin-top:40vh;"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
  </body>
</html>
{% endblock content %}
